<%- include('partials/header.ejs'); -%>

<h1>Home</h1>
<p> <%= startingContent %> </p>

<div class="posts">
  <% posts.forEach(function(post){ %>
  <%= console.log(post.title) %>
  <% }); %>
</div>

<%- include('partials/footer.ejs'); -%>